[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==8.3.2"
django-heroku = "*"
gunicorn = "*"
whitenoise = "*"
psycopg2 = "*"
dj-database-url = "*"
django-mptt = "*"
django-debug-toolbar = "*"
django-crispy-forms = "*"
django-summernote = "*"
django-taggit = "*"
django-cloudinary-storage = "*"
django = "==3.2.7"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
