{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}


{% block main_content %}
    

{% if validlink %}
<div class="container">
  <div class="row no-gutters">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-secondary">
          <h2 class="text-light">Reset your Password</h2>
        </div>
        <div class="card-body">
            <p>Please enter your new password</p>
            <form action="." method="POST" enctype="multipart/form-data">
              <div class="form-group">
                {% csrf_token %}
                {{ form|crispy }}
              </div>
              
            <button type="submit" class="btn btn-block btn-outline-success"><i ></i> Change my Password</button>
            </form>
            <!-- Form -->
        </div>
      </div>
      
      
      
      
    </div>
  </div>
  
{% else %}
  <p>The password reset link was invalid, possibly because it has
  already been used. Please request a new password reset.</p>
{% endif %}
{% endblock main_content %}
    
