{% extends "base.html" %}

{% load crispy_forms_tags %} 

{% load i18n %} 

{% block title %}
    {% trans "Set Password" %}
{% endblock %} 

{% block main_content %}

<div class="container space-2">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-gradient-fuchsia">
                    <h1 class="h2 text-light">{% trans "Set Password" %}</h1>
                </div>
                <div class="card-body">
                    <!-- Form -->
                    <form method="POST" action="{% url 'account_set_password' %}">
                        {% csrf_token %}
                        
                        <!-- Form Group -->
                        <div class="form-group">{{ form|crispy }}</div>
                        <!-- End Form Group -->

                        <!-- Button -->
                        <div class="row align-items-center mb-5">
                            <div class="col-sm-6 text-sm-right">
                                <button type="submit" class="btn btn-block btn-success">
                                    {% trans 'Set Password' %}
                                </button>
                            </div>
                        </div>
                        <!-- End Button -->
                    </form>
<!-- End Form -->
                </div>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}