{% extends "base.html" %} 
{% load static %} 
{% load i18n %} 

{% block title %}
    {% trans "Reset Your Password" %}
{% endblock %} 

{% block main_content %}
<div class="container py-6">
  <div class="card">
    <div class="card-header bg-gradient-danger">
      <h2 class="text-center">{% trans "Reset Your Password" %}</h2>
    </div>
    <div class="card-body">
      <p>
        {% blocktrans %}
          We have sent you an e-mail. Please contact us if you do
          not receive it within a few minutes.
        {% endblocktrans %}
      </p>
    </div>
  </div>
  
</div>
<!-- End CTA Section -->
{% endblock main_content %}