{% extends "base.html" %}
{% load crispy_forms_tags %} 
{% load i18n %}

{% block title %}{% trans "Password Reset" %}{% endblock %}


{% block main_content %}
    <div class="container space-1">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6 col-lg-6">
                <h2>Reset Password</h2>
                <h3>Hurray! Your password has been changed.</h3>
                <a href="{% url 'accounts:login' %}">Click here to Login</a>  
            </div>
        </div>
    </div>
  
{% endblock main_content %}