{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% load i18n %} 
{% block title %} {% trans "Change Password" %} {% endblock %} 

{% block main_content %}

<div class="container space-1">
  <div class="row no-gutters justify-content-center">
    <div class="col-md-8 col-lg-7 col-xl-6 space-2">
          <div class="card">
            <div class="card-header bg-info">
              <h3 class="text-light">{% trans "Change Password" %}</h3>
            </div>
            <div class="card-body">
              <!-- Form -->
              <form
                class="p-2 change_password"
                method="POST"
                action="."
              >
                {% csrf_token %}

                <!-- Form Group -->
                <div class="form-group">{{ form|crispy }}</div>
                <!-- End Form Group -->

                <!-- Button -->
                <div class="row align-items-center mb-5">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <a
                      class="btn btn-block btn-danger"
                      href="{% url 'accounts:password_reset' %}"
                      >Forgot Password?</a
                    >
                  </div>
                  <div class="col-sm-6 text-sm-right">
                    <button
                      type="submit"
                      class="btn btn-block btn-success"
                    >
                      {% trans "Change Password" %}
                    </button>
                  </div>
                </div>
                <!-- End Button -->
              </form>
              <!-- End Form -->
            </div>
          </div>
        </div>
  </div>
</div>
{% endblock %}
