.product__pagination a.active, .blog__pagination a.active {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}

.shoping__discount form button {
    background: #7fad39 !important;
}

.checked {
    color: #7fad39 !important;
}
.review_button{
    background-color: inherit !important;
    border: 0 !important;
}
/* Hide radio Button */
.rate>input{
    display: none;
}

.rate{
    display: inline-block;
    border: 0;
}

.rate >label{
    float: right;
}

/* Showing Star */

.rate>label::before{
    display: inline-block;
    font-size: 1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
}

/* Half Star */
.rate>.half::before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click and  hover */
input:checked~label,label:hover~label{
    color: #ffb503;
}

input:checked + label:hover, input:checked~label:hover, input:checked~label:hover~label, label:hover~input:checked~label{
    color: #cc9000;
}

.review-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 26px;
}
.review-subtitle{
    font-size: 1rem;
    font-weight: 500;
    color: #333333;
    
}

.rating-star i{
    color: #ffb503;
}

#id_delivery{
    border: none;
    padding: 4px 0 8px 0;
    margin-right: 5px;
}
.checkout__order .checkout__order__delivery {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 25px;
}
.checkout__order .checkout__order__delivery span {
    float: right;
}
.checkout__order .checkout__order__delivery .location {
    font-size: 18px;
    color: #1c1c1c;
    font-weight: 700;
}
.checkout__order .checkout__order__delivery__status {
    font-size: 18px;
    color: #1c1c1c;
    font-family: 'Cairo',sans-serif;
    font-weight: 700;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.checkout__order .checkout__order__delivery__status span {
    font-size: 14px;
    color: #1c1c1c;
    font-weight: 500;
    float: right;
}
.product__item__pic__hover li:hover button {
	background: #7fad39;
	border-color: #7fad39;
}

.product__item__pic__hover li:hover button i {
	color: #ffffff;
	transform: rotate(360deg);
}

.product__item__pic__hover li button {
	font-size: 16px;
	color: #1c1c1c;
	height: 40px;
	width: 40px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ebebeb;
	background: #ffffff;
	display: block;
	border-radius: 50%;
	-webkit-transition: all, 0.5s;
	-moz-transition: all, 0.5s;
	-ms-transition: all, 0.5s;
	-o-transition: all, 0.5s;
	transition: all, 0.5s;
}

.product__item__pic__hover li button i {
	position: relative;
	transform: rotate(0);
	-webkit-transition: all, 0.3s;
	-moz-transition: all, 0.3s;
	-ms-transition: all, 0.3s;
	-o-transition: all, 0.3s;
	transition: all, 0.3s;
}
.nav-pills .nav-link.active {
    background-color: #7aad43 !important;
}
