.product__pagination a.active, .blog__pagination a.active {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}

.shoping__discount form button {
    background: #7fad39 !important;
}

.checked {
    color: #7fad39 !important;
}
.review_button{
    background-color: inherit !important;
    border: 0 !important;
}
/* Hide radio Button */
.rate>input{
    display: none;
}

.rate{
    display: inline-block;
    border: 0;
}

.rate >label{
    float: right;
}

/* Showing Star */

.rate>label::before{
    display: inline-block;
    font-size: 1rem;
    font-family: FontAwesome;
    content: "\f005";
    margin: 0;
    padding: 0.3rem 0.2rem;
}

/* Half Star */
.rate>.half::before{
    content: "\f089";
    position: absolute;
    padding-right: 0;
}

/* Click and  hover */
input:checked~label,label:hover~label{
    color: #ffb503;
}

input:checked + label:hover, input:checked~label:hover, input:checked~label:hover~label, label:hover~input:checked~label{
    color: #cc9000;
}

.review-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #333333;
    margin-bottom: 26px;
}
.review-subtitle{
    font-size: 1rem;
    font-weight: 500;
    color: #333333;
    
}

.rating-star i{
    color: #ffb503;
}