{% extends "base.html" %}
{% load static %}
{% block title %}
  
{% endblock title %}

{% block main_content %}
  
    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Vegetable’s Package</h2>
                        <div class="breadcrumb__option">
                            <a href="./index.html">Home</a>
                            <a href="./index.html">Vegetables</a>
                            <span>Vegetable’s Package</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                src="{{ product.image_url }}" alt="{{ product.name }}">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img data-imgbigurl="img/product/details/product-details-2.jpg"
                                src="img/product/details/thumb-1.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-3.jpg"
                                src="img/product/details/thumb-2.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-5.jpg"
                                src="img/product/details/thumb-3.jpg" alt="">
                            <img data-imgbigurl="img/product/details/product-details-4.jpg"
                                src="img/product/details/thumb-4.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3>{{ product.name }}</h3>
                        <div class="product__details__rating">
                            <i class="fa fa-star{% if product.average_review < 0.5 %}-o{% elif product.average_review >= 0.5 and product.average_review < 1 %}-half-o{% endif %}"></i>
                            <i class="fa fa-star{% if product.average_review < 1.5 %}-o{% elif product.average_review >= 1.5 and product.average_review < 2 %}-half-o{% endif %}"></i>
                            <i class="fa fa-star{% if product.average_review < 2.5 %}-o{% elif product.average_review >= 2.5 and product.average_review < 3 %}-half-o{% endif %}"></i>
                            <i class="fa fa-star{% if product.average_review < 3.5 %}-o{% elif product.average_review >= 3.5 and product.average_review < 4 %}-half-o{% endif %}"></i>
                            <i class="fa fa-star{% if product.average_review < 4.5 %}-o{% elif product.average_review >= 4.5 and product.average_review < 5 %}-half-o{% endif %}"></i>
                            <span>({{ product.count_review }} {% if product.count_review > 1 %}reviews {% else %} review {% endif %})</span>
                        </div>
                        
                        <div class="product__details__price">৳ {{ product.sale_price|floatformat:2 }}</div>
                        <p>{{ product.short_description }}</p>
                        <form action="{% url 'cart:cart-add' product_id=product.id %}" method="post">
                            {% csrf_token %}
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <!-- <input name="product_quantity" type="text" value="1"> -->
                                    {{ form }}
                                </div>
                            </div>
                        </div>
                        {% if product.check_avialable %}
                        <button class="btn primary-btn">ADD TO CARD</button>
                        {% else %}
                        <button class="btn btn-secondary" disabled>ADD TO CARD</button>
                        {% endif %}
                        
                        <a href="#" class="heart-icon"><span class="icon_heart_alt"></span></a>
                    </form>
                        <ul>
                            {% if product.check_avialable %}
                            <li><b>Availability</b> <span>In Stock({{product.stock}})</span></li>
                            {% else %}
                            <li><b>Availability</b> <span>Out of Stock</span></li>
                            {% endif %}
                            
                            
                            {% if product.unit %}
                            <li><b>Weight</b> <span>{{product.unit}}  {{product.unit_status}}</span></li>
                            {% endif %}
                                
                            
                            <li><b>Share on</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Description</a>
                            </li>
                            
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab"
                                    aria-selected="false">Reviews <span>({{ product.count_review }})</span></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div class="product__details__tab__desc">
                                    <h6>Products Infomation</h6>
                                    <p>{{ product.description|safe }}</p>
                                </div>
                            </div>
                            
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                
                                <div class="product__details__tab__desc">
                                    {% for review in reviews %}
                                    <h6>{{ review.user.profile.full_name }}</h6>
                                    <div class="rating-star">
                                        <i class="fa fa-star{% if review.rating == 0.5 %}-half-o{% elif review.rating < 1 %}-o{% endif %}"></i>
                                        <i class="fa fa-star{% if review.rating == 1.5 %}-half-o{% elif review.rating < 2 %}-o{% endif %}"></i>
                                        <i class="fa fa-star{% if review.rating == 2.5 %}-half-o{% elif review.rating < 3 %}-o{% endif %}"></i>
                                        <i class="fa fa-star{% if review.rating == 3.5 %}-half-o{% elif review.rating < 4 %}-o{% endif %}"></i>
                                        <i class="fa fa-star{% if review.rating == 4.5 %}-half-o{% elif review.rating < 5 %}-o{% endif %}"></i>
                                        
                                    </div>
                                    <div>
                                        <strong>{{ review.subject }}</strong> <span class="pull-right">{{ review.updated_at }}</span>
                                    
                                    </div>
                                            
                                        
                                    
                                    <p>{{ review.review }}</p>
                                    {% endfor %}
                                </div>
                                
                                
                                <div>
                                    <h4 class="review-title">Customer Review</h4>
                                    <div class="row my-2">
                                        <div class="col-md-8">
                                            <form  action="{% url 'product:submit_review' product.id %}" method="POST">
                                                {% csrf_token %}
                                                <h6>How do you rate this product ?</h6>
                                                <div class="form-group rate">
                                                    <input  type="radio" name="rating" id="rating10" value="5" required ><label for="rating10" title="5"></label>
                                                    <input  type="radio" name="rating" id="rating9" value="4.5" required ><label for="rating9" title="4.5" class="half"></label>
                                                    <input  type="radio" name="rating" id="rating8" value="4" required ><label for="rating8" title="4"></label>
                                                    <input  type="radio" name="rating" id="rating7" value="3.5" required ><label for="rating7" title="3.5" class="half"></label>
                                                    <input  type="radio" name="rating" id="rating6" value="3" required ><label for="rating6" title="3"></label>
                                                    <input  type="radio" name="rating" id="rating5" value="2.5" required ><label for="rating5" title="2.5" class="half"></label>
                                                    <input  type="radio" name="rating" id="rating4" value="2" required ><label for="rating4" title="2"></label>
                                                    <input  type="radio" name="rating" id="rating3" value="1.5" required ><label for="rating3" title="1.5" class="half"></label>
                                                    <input  type="radio" name="rating" id="rating2" value="1" required ><label for="rating2" title="1"></label>
                                                    <input  type="radio" name="rating" id="rating1" value="0.5" required ><label for="rating1" title="0.5" class="half"></label>
                                                    
                                                </div>
                                                <div class="form-group row">
                                                  
                                                  <div class="col-sm-10">
                                                    <input type="text" class="form-control" name="subject" placeholder="Review Title" required>
                                                  </div>
                                                </div>
                                                <div class="form-group row">
                                                    
                                                    <div class="col-sm-10">
                                                      <textarea rows="4" class="form-control" name="review" placeholder="Review" required></textarea>
                                                    </div>
                                                </div>
                                                
                                                {% if request.user.is_authenticated %}
                                                
                                                    {% if orderproduct %}
                                                    <button type="submit" class="btn btn-outline-success">Submit</button>
                                                    {% else %}
                                                    <p>You must be purchased this product for review.</p>
                                                    {% endif %}
                                                    
                                                
                                                {% else %}
                                                <p>You must be logged in for submitting review. <a href="" class="btn btn-success">Login</a></p>
                                                {% endif %}
                                                    
                                                
                                            </form>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Related Product</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for product in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" data-setbg="{{ product.image_url }}">
                            <ul class="product__item__pic__hover">
                                <li><a href="#"><i class="fa fa-heart"></i></a></li>
                                <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                                <li><a href="{{ product.get_absolute_url }}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a href="#">{{ product.name</a></h6>
                                {% if product.discount or product.discount_price %}
                                <h5>৳{{ product.sale_price|floatformat:2 }}<span style="text-decoration: line-through; font-weight: 400; margin-left: 10px;">৳{{product.price|floatformat:2}}</span></h5>
                                {% else %}
                                <h5>৳{{ product.sale_price|floatformat:2 }}</h5>
                                {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                
            </div>
        </div>
    </section>
    <!-- Related Product Section End -->
{% endblock main_content %}