{% extends "base.html" %}
{% load static %}

{% block title %}
  All Offer
{% endblock title %}

{% block main_content %}
      <!-- Breadcrumb Section Begin -->
      <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/breadcrumb.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2>Organi Shop</h2>
                        <div class="breadcrumb__option">
                            <a href="{% url 'core:home' %}">Home</a>
                            <span>All Offer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="sidebar">
                        <div class="sidebar__item">
                            <h4>Department</h4>
                            <ul>
                               {% load mptt_tags %}
                               {% recursetree all_categories %}
                                <li><a href="#">{{ node.name }}</a></li>
                                {% endrecursetree %}
                                
                            </ul>
                        </div>
                        
                        <div class="sidebar__item">
                            <div class="latest-product__text">
                                <h4>Latest Products</h4>
                                <div class="latest-product__slider owl-carousel">
                                    <div class="latest-prdouct__slider__item">
                            {% for product in latest_products|slice:":3" %}
                            <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ product.name }}</h6>
                                    <span>৳{{ product.sale_price|floatformat:2 }}</span>
                                </div>
                            </a>
                            {% endfor %}
                            
                        </div>
                        <div class="latest-prdouct__slider__item">
                            {% for product in latest_products|slice:"3:6" %}
                            <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ product.name }}</h6>
                                    <span>৳{{ product.sale_price|floatformat:2 }}</span>
                                </div>
                            </a>
                            {% endfor %}
                            
                        </div>
                        <div class="latest-prdouct__slider__item">
                            {% for product in latest_products|slice:"6:" %}
                            <a href="{{ product.get_absolute_url }}" class="latest-product__item">
                                <div class="latest-product__item__pic">
                                    <img src="{{ product.image_url }}" alt="{{ product.name }}">
                                </div>
                                <div class="latest-product__item__text">
                                    <h6>{{ product.name }}</h6>
                                    <span>৳{{ product.sale_price|floatformat:2 }}</span>
                                </div>
                            </a>
                            {% endfor %}
                            
                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7">
                    
                    <div class="row">
                        {% for product in products %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item">
                                <div class="product__item__pic set-bg" {% if product.image %}data-setbg="{{ product.image.url }}"{% endif %} >
                                    <ul class="product__item__pic__hover">
                                        <li>
                                            {% if product.check_avialable %}
                                            <a href="{% url 'wish:add_to_wishlist' slug=product.slug %}"><i class="fa fa-heart"></i></a>
                                            {% endif %}
                                        </li>
                                        
                                        <li><a href="{% url 'product:Product_detail' slug=product.slug %}"><i class="fa fa-shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6><a href="{{ product.get_absolute_url }}">{{ product.name}}</a></h6>
                                    {% if product.discount or product.discount_price %}
                                    <h5>৳{{ product.sale_price|floatformat:2 }}<span style="text-decoration: line-through; font-weight: 400; margin-left: 10px;">৳{{product.price|floatformat:2}}</span></h5>
                                    {% else %}
                                    <h5>৳{{ product.sale_price|floatformat:2 }}</h5>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% if is_paginated %}
                    <div class="product__pagination">
                        {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left"></i></a>
                        {% endif %}
                        {% for i in page_obj.paginator.page_range %}
                          {% if page_obj.number == i %}
                          <a class="active" href="#">{{ i }}</a>
                          {% else %}
                          <a href="?page={{ i }}">{{ i }}</a>
                          {% endif %}
                        {% endfor %}
                        
                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-right"></i></a>
                        {% endif %}
                        
                    </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    </section>
    <!-- Product Section End -->
{% endblock main_content %}