{% load static %}
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-9">
                    
                        <form action="{% url 'delivery:delivery-apply' %}" method="POST">
                            {% csrf_token %}
                            <div class="header__top__left">
                                <ul>
                                    <li><i class="fa fa-envelope"></i> {{ setting.email }}</li>
                                    <li>Free Deliver All Order of ৳{{ cart.delivery_free_shipping }}</li>
                                    <li>
                                        {{ delivery_location }}
                                        <button type="submit" class="btn bnt-sm primary-btn">Change</button>
                                    </li>
                                </ul>
                            </div>
                           
                        
                        
                        </form>
                    
                    
                    
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="header__top__right">
                        <div class="header__top__right__social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        
                        
                        <div class="header__top__right__auth">
                            
                            {% if request.user.is_authenticated %}
                            <a href="{% url 'accounts:logout' %}"><i class="fa fa-user"></i> Logout</a>
                            {% else %}
                            <a href="{% url 'accounts:login' %}"><i class="fa fa-user"></i> Login</a>
                            {% endif %}
                                
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="{% url 'core:home' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li class="active"><a href="{% url 'core:home' %}">Home</a></li>
                        <li><a href="{% url 'product:products' %}">Products</a></li>
                        <li><a href="{% url 'blog:blog-list' %}">Blog</a></li>
                        <li><a href="{% url 'core:contact-us' %}">Contact</a></li>
                        <li><a href="#">User</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./shop-details.html">My Account</a></li>
                                <li><a href="{% url 'order:order-history' %}">My Order</a></li>
                                <li><a href="./checkout.html">Cart</a></li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>

                        <li><a href="{% url 'wish:wishes' %}"><i class="fa fa-heart"></i> <span> {{ wish }}</span></a></li>

                        
                        {% with cart|length as total_item %}
                          
                        
                        <li><a href="{% url 'cart:cart-detail' %}"><i class="fa fa-shopping-bag"></i> <span>{{ total_item }}</span></a></li>
                        
                        
                        
                    </ul>
                    <div class="header__cart__price">item: <span>৳ {{ cart.get_total_price|floatformat:2 }}</span></div>
                    {% endwith %}
                </div>
            </div>
        </div>
        <div class="humberger__open">
            <i class="fa fa-bars"></i>
        </div>
    </div>
</header>