{% load static %}
<section class="hero hero-normal">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All Department</span>
                    </div>
                    <ul class="menu">
                        {% load mptt_tags %}
                        {% recursetree all_categories %}
                        <li><a href="{% url 'product:category_detail' slug=node.slug %}">{{ node.name }}</a>
                            {% if not node.is_leaf_node %}
                                
                                <ul>
                                    <li>
                                    <a href="{% url 'product:category_detail' slug=node.slug %}">{{ children }}</a>
                                    </li>
                                </ul>
                            {% endif %}
                            
                        
                        </li>
                        {% endrecursetree %}
                        
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="{% url 'product:search-products' %}" method="GET">
                            <div class="hero__search__categories">
                                All Category
                                <span class="arrow_carrot-down"></span>
                            </div>
                            
                            <input type="text" placeholder="What do yo u need?" name="search-product">
                            <button type="submit" class="site-btn">Search</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>{{ setting.mobile1 }}</h5>
                            <span>Help 24/7 Time</span>
                        </div>
                    </div>
                </div>
                {% url 'core:home' as home_url %}
                {% if request.path == home_url %}
                <div class="hero__item set-bg" data-setbg="{{hero_banner.image_url}}">
                    <div class="hero__text">
                        <span>{{hero_banner.banner_tag}}</span>
                        <h2>{{hero_banner.title|safe}}</h2>
                        <p>{{hero_banner.content}}</p>
                        <a href="#" class="primary-btn">SHOP NOW</a>
                    </div>
                </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</section>
