.product__pagination a.active, .blog__pagination a.active {
    background: #7fad39;
    border-color: #7fad39;
    color: #ffffff;
}

.shoping__discount form button {
    background: #7fad39 !important;