{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Refund Request
{% endblock title %}

{% block main_content %}
  <div class="container my-5">
      <div class="row justify-content-center">
          <div class="col-6">
            <form action="" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-success">Refund Requests</button>
            </form>
          </div>
      </div>
  </div>
{% endblock main_content %}