{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}
  Pay for your order
{% endblock title %}
{% block main_content %}
<div class="container py-5">
  
  <div class="row text-center justify-content-center">
    <div class="col-sm-12 col-md-6 col-lg-6 my-5">
      <p>ক্যাশ অন ডেলিভারী সিলেক্ট করলে ট্রানজ্যাকশন নম্বর ও মোবাইল নম্বর প্রজোয্য নয়. ট্রানজ্যাকশন করার পর ট্রানজ্যাকশন নম্বরটি ট্রানজ্যাকশন আইডি তে লিখুন এবং যে নম্বর থেকে ট্রানজ্যাকশন করেছেন সেই নম্বরটি মোবাইল নম্বর এর জায়গায় লিখুন</p>
      <p style="font-weight: bold; font-size: large;">{% for p in payment %}
        {{ p.payment_name }}  <small>({{p.merchant_status}}) - {{ p.merchant_number }}</small>
      {% endfor %}</p>
    </div>
    <div class="col-md-6">
      <form action="" method="post">
        {% csrf_token %}
        
        <div class="form-group">
          {{ pay_form|crispy }}
        </div>
        
        
      <button type="submit" class="btn  btn-primary my-5">Pay</button>
    </form>
    </div>
      
      
    
  </div>
</div>

{% endblock main_content %}